<div class="container">
    <div class="card bg-light mt-4">
        <article class="card-body mx-auto" style="max-width: 600px">
            <div style="min-width: 300px;">
                <h3 class="mb-3 card-title text-center">Create Account</h3>
                <hr />
                <!-- Reactive forms: using form group -->
                <!-- novalidate disables default HTML form validation -->
                <form [formGroup]="registerForm" novalidate>
                    <div hidden class="form-group">
                        <label for="id">Id :</label>
                        <input type="text" id="id" class="form-control" formControlName="id"><br>
                    </div>

                    <div class="form-group">
                        <label for="emailControl">Email : </label>
                        <input type="text" id="emailControl" class="form-control" formControlName="email">

                        <!-- validation message -->
                        <div style="color: red" *ngIf="!registerForm.controls['email'].valid && 
            (registerForm.controls['email'].touched || 
            registerForm.controls['email'].dirty)">
                            Email is required
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="userControl">Username :

                        </label>
                        <input type="text" id="userControl" class="form-control" formControlName="user">
                        <!-- validation message -->
                        <div *ngIf="!registerForm.controls['user'].valid && (registerForm.controls['user'].touched || 
            registerForm.controls['user'].dirty)">
                            <div style="color: red" class='fst-italic'
                                [hidden]="!registerForm.controls['user'].errors?.['required']">
                                Username is required
                            </div>
                            <div style="color: blue" class='fst-italic' [hidden]="!registerForm.controls['user'].errors?.['minlength']
                            && !registerForm.controls['user'].errors?.['maxlength']">
                                Username should be 4-10 characters.
                            </div>
                            <div style="color: red" class='fst-italic'
                                [hidden]="!registerForm.controls['user'].errors?.['pattern']">

                                Username should not contain any special characters or numbers.
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="phoneControl">Phone Number : </label>
                        <input type="text" id="phoneControl" class="form-control" formControlName="phone">

                        <!-- validation message -->
                        <div style="color: red" *ngIf="!registerForm.controls['phone'].valid && 
            (registerForm.controls['phone'].touched || 
            registerForm.controls['phone'].dirty)">
                            Phone number is required
                        </div>
                        <div style="color: blue" class='fst-italic'
                            [hidden]="!registerForm.controls['phone'].errors?.['pattern']">

                            Phone should only contain numbers.
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="passwordControl">Password :</label>
                        <div class="input-group">
                            <input id="passwordControl" class="form-control" formControlName="password"
                            [type]="fieldTextType ? 'text' : 'password'">
                           
                                <span class="input-group-text">
                                    <i class="fa"  [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }"
                                      (click)="toggleFieldTextType()"></i>
                                </span>
                            
                        </div>
                        <!-- password error validation here -->
                        <div *ngIf="!password?.valid && (password?.touched || password?.dirty)">
                            <div style="color: red" class='fst-italic'
                                [hidden]="!registerForm.controls['password'].errors?.['required']">
                                Password is required
                            </div>
                            <div style="color: blue" class='fst-italic' [hidden]="!registerForm.controls['password'].errors?.['minlength']
                            && !registerForm.controls['password'].errors?.['maxlength']">
                                Password should have least 8 characters.
                            </div>
                            <div style="color: red" class='fst-italic'
                                [hidden]="!registerForm.controls['password'].errors?.['pattern']">

                                Password should contain 1 uppercase, 1 lowercase, 1 number and 1 special character.
                            </div>
                        </div>

                    </div>
                    <br />
                    <p class="text-center" *ngIf="!registerForm.valid">
                        Please complete the missing information.
                    </p>
                    <div class="d-flex justify-content-center">
                        <button class="btn-warning btn btn-sm me-3" [disabled]="!registerForm.valid"
                            (click)="saveUser()">Register</button>
                        <button type="button" class="btn-success btn btn-sm ms-3">Clear</button>
                    </div>
                    <br />
                </form>
                <p class="text-center">Already have an account? <a routerLink="/login"> Login </a> </p>
            </div>
        </article>
    </div>
</div>